.jumbotron {
    padding: 15em;
    text-align:center;
    background-image: url("../images/code-background.jpg");
    color:floralwhite;
}
.jumbotron h1{
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
.jumbotron p{
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
.container{
    padding-bottom:15em;
}
.container img{
    height:300px;
    width:300px;
    padding-right:2em;
    overflow-y:hidden;
    object-fit:cover;
}